*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Open Sans', sans-serif;
}


html,body{
	height: 100%;
}


/**Divs gerais!*/
.container{
	width: 100%;
	max-width: 1024px;
	margin:0 auto;
}

.clear{
	clear: both;
}
/******/

header{
	background-color:rgb(220,220,220);
	padding:10px 2% 25px 2%;
}

.logo-1{
	float: left;
	width: 150px;
	height: 60px;
	background-image: url('../imagens/logo1.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	/*background-color: purple;*/
}

.logo-2{
	float: right;
	width: 160px;
	height: 60px;
	background-image: url('../imagens/logo2.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	/*background-color: green;*/
}

section.cover-form{
	width: 100%;
}

.bg{
	position: relative;
	height: 560px;
	background-position: center;
	background-size: cover;
	background-image: url('../imagens/bg-form.jpg');
}

.form-container{
	position: absolute;
	right: 30px;
	z-index: 2;
	top: -2.5%;
	width: 400px;
	height: 105%;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(117,117,117,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(117,117,117,1);
	box-shadow: 2px 2px 5px 0px rgba(117,117,117,1);
	background-color: white;
}

.form-container h2{
	font-weight: normal;
	padding:25px 15px;
	color: black;
	font-size: 18px;
	background-color: rgb(210,210,210);
}

.form-container form{
	margin-top:20px;
	padding:15px;
}

.form-container form p{
	font-size: 14px;
	color: #525252;
}

.form-wraper:not(:first-child){
	margin-top:40px;
}

.form-wraper:last-child{
	margin-top:20px;
}

.form-container form input[type=text]{
	width: 100%;
	border:1px solid #ccc;
	height: 45px;
	line-height: 45px;
	padding-left: 10px;
}

.form-container form input[type=submit]{
	background-color: #033C50;
	text-transform: uppercase;
	color: white;
	width: 100%;
	font-size: 25px;
	height: 50px;
	cursor: pointer;
	border:0;
}

section.chamada{
	z-index: 1;
	width: 100%;
	text-align: center;
	position: relative;
}

/*
	Icone da seta na sessão feita em OFF!
*/

.icone-seta{
	position: absolute;
	left: 50%;
	top: -32px;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	width: 64px;
	height: 64px;
	background-size: 100% 100%;
	background-image: url('../imagens/arrow.png');
}

section.chamada div.container{
	background-color: #29526d;
	padding:70px 0 50px 0;
}


section.chamada h2{
	width: 98%;
	max-width: 700px;
	display: inline-block;
	color: white;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: normal;
}

section.chamada p{
	width: 98%;
	max-width: 700px;
	display: inline-block;
	color: white;
	margin-top:10px;
	font-size: 18px;
	font-weight: normal;
}

.flex-mosaico{
	display: flex;
}

.item-1-mosaico{
	background-position: center;
	background-size: cover;
	width: 60%;
}

.item-2-mosaico{
	background-color: #4683AB;
	padding:90px 40px;
	width: 40%;
}

.item-2-mosaico p{
	color: white;
}

footer {
	text-align: center;
	padding: 20px 0;
}

footer p {
	margin-top: 8px;
}

footer img {
	width: 120px;
}

@media screen and (max-width: 1024px){

	.bg{
		height: auto;
		padding: 80px 0;
		text-align: center;
	}

	.form-container{
		text-align: left;
		height: auto;
		width: 96%;
		max-width: 400px;
		position: static;
		display: inline-block;
	}
}

@media screen and (max-width: 768px) {

	.flex-mosaico {
		display: block;
	}

	.item-1-mosaico {
		padding-top: 80%;
		width: 100%;
	}

	.item-2-mosaico {
		text-align: justify;
		width: 100%;
	}
}

@media screen and (max-width: 510px){

	header{
		text-align: center;
	}

	[class^="logo"]{
		margin-top:10px;
		display: inline-block;
		float: none;
	}

}